/* D&D Colours */
$dnd-red: #E40712;
$dnd-brown: #822000;
$dnd-uncommon: #1fc219;
$dnd-rare: #4990e2;
$dnd-veryrare: #9810e0;
$dnd-legendary: #fea227;

/* Base Colours */

$black: black;
$white: white;
$offwhite: #eaeaea;
$grey: grey;
$darkgrey: #363636;
$medgrey: #474747;
$lightgrey: #A8A7A7;
$red: $dnd-red;
$brown: $dnd-brown;
$green: $dnd-uncommon;
$blue: $dnd-rare;
$purple: $dnd-veryrare;
$gold: $dnd-legendary;
$orange: orange;
$pink: #cc527a;
$darkpink: #e8175d;

/* Helpers */
.red { color: $red; }
.brown { color: $brown; }
.orange { color: $orange; }
.pink { color: $pink; }
.blue { color: $blue; }
.green { color: $green; }
.purple { color: $purple; }
.gold { color: $gold; }

/* Theme Colours */

$primary: $pink;
$secondary: $darkpink;
$dark-bg: $darkgrey;
$light-bg: $grey;

/* D&D Fonts */

@import 'fonts';

$title: 'Modesto', serif;
$headline: 'MrEaves', serif;
$text: 'Bookmania', serif;
$highlight: 'ScalaSans', sans-serif;
$sans: 'ScalaSans', sans-serif;
$dungeon: 'Dungeon', serif;

/* Font Helper Classes */

.title { font-family: $title; }
.headline { font-family: $headline; }
.text { font-family: $text; }
.highlight, .sans {  font-family: $sans; }
.dungeon { font-family: $dungeon; }