/* D&D Colours */
$dnd-red: #E40712;
$dnd-brown: #822000;
$dnd-uncommon: #1fc219;
$dnd-rare: #4990e2;
$dnd-veryrare: #9810e0;
$dnd-legendary: #fea227;

/* Base Colours */

$black: black;
$white: white;
$offwhite: #eaeaea;
$grey: grey;
$darkgrey: #363636;
$medgrey: #474747;
$lightgrey: #A8A7A7;
$red: $dnd-red;
$brown: $dnd-brown;
$green: $dnd-uncommon;
$blue: $dnd-rare;
$purple: $dnd-veryrare;
$gold: $dnd-legendary;
$orange: orange;
$pink: #cc527a;
$darkpink: #e8175d;
$cyan: #4e9ac7;

/* Helpers */
.red { color: $red; }
.brown { color: $brown; }
.orange { color: $orange; }
.pink { color: $pink; }
.blue { color: $blue; }
.green { color: $green; }
.purple { color: $purple; }
.gold { color: $gold; }
.common { color: $white; }
.uncommon { color: $dnd-uncommon; }
.rare { color: $dnd-rare; }
.very-rare { color: $dnd-veryrare; }
.legendary { color: $dnd-legendary; }

.border-red { border-color: $red; }
.border-brown { border-color: $brown; }
.border-orange { border-color: $orange; }
.border-pink { border-color: $pink; }
.border-blue { border-color: $blue; }
.border-green { border-color: $green; }
.border-purple { border-color: $purple; }
.border-gold { border-color: $gold; }
.border-uncommon { border-color: $dnd-uncommon; }
.border-rare { border-color: $dnd-rare; }
.border-very-rare { border-color: $dnd-veryrare; }
.border-legendary { border-color: $dnd-legendary; }

$physical: $grey;
.Bludgeoning { background-color: $physical; border-color: $physical; color: $white; }
.Piercing { background-color: $physical; border-color: $physical; color: $white; }
.Slashing { background-color: $physical; border-color: $physical; color: $white; }
$acid: $green;
.Acid { background-color: $acid; border-color: $acid; }
$cold: $white;
.Cold { background-color: $cold; border-color: $cold; color: $black; }
$fire: $red;
.Fire { background-color: $fire; border-color: $fire; color: $white; }
$force: $pink;
.Force { background-color: $force; border-color: $force; color: $white; }
$lightning: $blue;
.Lightning { background-color: $lightning; border-color: $lightning; }
$poison: $green;
.Poison { background-color: $poison; border-color: $poison; }
$psychic: $purple;
.Psychic { background-color: $psychic; border-color: $psychic; }
$radiant: $gold;
.Radiant { background-color: $radiant; border-color: $radiant; }
$necrotic: $black;
.Necrotic { background-color: $necrotic; border-color: $necrotic; color: $white; }

/* Theme Colours */

$primary: $pink;
$secondary: $darkpink;
$dark-bg: $darkgrey;
$light-bg: $grey;

/* D&D Fonts */

@import 'fonts';

$title: 'Modesto', serif;
$headline: 'MrEaves', serif;
$text: 'Bookmania', serif;
$highlight: 'ScalaSans', sans-serif;
$sans: 'ScalaSans', sans-serif;
$dungeon: 'Dungeon', serif;

/* Font Helper Classes */

.title { font-family: $title; }
.headline { font-family: $headline; }
.text { font-family: $text; }
.highlight, .sans {  font-family: $sans; }
.dungeon { font-family: $dungeon; }