@import 'variables';

.font_box {
    margin: 2rem;
}

.font_descriptor {
    margin-bottom: 1rem;
    font-family: $sans;
    font-size: 1.6rem;
    color: $lightgrey;
}


/* Fantasy Language Fonts */

@font-face {
    font-family: 'Norse';
    src: url('../assets/fonts/norse/AnglosaxonRunes.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Norse';
    src: url('../assets/fonts/norse/AnglosaxonRunes1.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Norse';
    src: url('../assets/fonts/norse/AnglosaxonRunes1.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Norse';
    src: url('../assets/fonts/norse/AnglosaxonRunes2.ttf');
    font-weight: 700;
    font-style: italic;
}

.norse, .giant {
    font-family: 'Norse', serif;
}
.norse {
    color: steelblue;
}
.giant {
    color: bisque;
}

@font-face {
    font-family: 'Davek';
    src: url('../assets/fonts/davek/Davek.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Davek';
    src: url('../assets/fonts/davek/Davek\ Italic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Davek';
    src: url('../assets/fonts/davek/Davek\ Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Davek';
    src: url('../assets/fonts/davek/Davek\ Bold\ Italic.otf');
    font-weight: 700;
    font-style: italic;
}

.dwarvish, .gnomish, .goblin, .primordial {
    font-family: 'Davek', serif;
}
.dwarvish {
    color: steelblue;
}
.gnomish {
    color: brown;
}
.goblin {
    color: burlywood;
}
.primordial {
    color: orange;
}

@font-face {
    font-family: 'Rellanic';
    src: url('../assets/fonts/rellanic/Rellanic.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rellanic';
    src: url('../assets/fonts/rellanic/Rellanic\ Italic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Rellanic';
    src: url('../assets/fonts/rellanic/Rellanic\ Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Rellanic';
    src: url('../assets/fonts/rellanic/Rellanic\ Bold\ Italic.otf');
    font-weight: 700;
    font-style: italic;
}

.elvish, .sylvan, .undercommon {
    font-family: 'Rellanic', serif;
}
.elvish {
    color: silver;
}
.sylvan {
    color: greenyellow;
}
.undercommon {
    color: brown;
}

@font-face {
    font-family: 'Iokharic';
    src: url('../assets/fonts/iokharic/Iokharic.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Iokharic';
    src: url('../assets/fonts/iokharic/Iokharic\ Italic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Iokharic';
    src: url('../assets/fonts/iokharic/Iokharic\ Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Iokharic';
    src: url('../assets/fonts/iokharic/Iokharic\ Bold\ Italic.otf');
    font-weight: 700;
    font-style: italic;
}

.draconic, .orc {
    font-family: 'Iokharic', serif;
}
.draconic {
    color: red;
}
.orc {
    color: green;
}

@font-face {
    font-family: 'Barazhad';
    src: url('../assets/fonts/barazhad/Barazhad.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Barazhad';
    src: url('../assets/fonts/barazhad/Barazhad\ Italic.otf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Barazhad';
    src: url('../assets/fonts/barazhad/Barazhad\ Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Barazhad';
    src: url('../assets/fonts/barazhad/Barazhad\ Bold\ Italic.otf');
    font-weight: 700;
    font-style: italic;
}

.infernal, .abyssal {
    font-family: 'Barazhad', serif;
}
.abyssal {
    color: black;
}
.infernal {
    color: red;
}

@font-face {
    font-family: 'Magi';
    src: url('../assets/fonts/ALPMAGI.ttf');
    font-weight: 400;
    font-style: normal;
}

.arcane, .celestial {
    font-family: 'Magi', serif;
}
.arcane {
    color: violet;
}
.celestial {
    color: gold;
}