@import 'variables';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $text;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $white;
    background: $black;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.4em 0;
  color: $primary;
  font-family: $headline;
}

h1 {
  font-family: $title;
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

hr {
  border: 1px dashed $primary;
}

button {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.8rem;

  &:hover {
    cursor: pointer;
    background-color: $primary !important;
    color: $white !important;
  }
}

input {
  height: 3rem;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: $white;
  color: $grey;
  font-size: 1.8rem;

  &::selection {
    background-color: $primary;
  }
}

select {
  height: 3rem;
  border: 0;
  border-radius: 5px;
  padding: 0 0.5rem;
  background-color: $white;
  color: $grey;
  font-size: 1.8rem;

  option {
    background-color: $pink;
  }
}

table {
  display: grid;
  grid-auto-flow: row;
}

th {
  border: 1px solid $black;
  background-color: $blue;
  color: $white;
}

td {
  border: 1px solid $black;
}

.accordion {
  width: 30rem;

  .accordion_item {
      margin: 0.5rem 0;
      padding: 1rem;
      background-color: $grey;

      .item_title {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          background-color: $medgrey;
          color: $offwhite;

          img {
              width: 2rem;
          }
      }
      .item_body {
          background-color: $lightgrey;
          color: $darkgrey;
      }
  }
}

.tag {
  display: inline-block;
  margin: 0 0.3rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
}

.tags_list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}