@import 'variables';

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;

  > * {
    margin-left: 2rem;
  }

  .title {
    margin-right: 2rem;
  }
  
  p {
    font-size: 1.8rem;
  }
}