@import 'variables';

.container {
  background-color: $darkgrey;
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $lightgrey;

  button.pink {
    background-color: $pink;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid $offwhite;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.code {
  background: $offwhite;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

  .card,
  .footer {
      border-color: $darkgrey;
  }

  .code {
      background: $black;
  }

  .logo img {
      filter: invert(1);
  }
}