@font-face {
    font-family: 'MrEaves';
    src: url('../assets/fonts/Mr\ Eaves\ Small\ Caps.otf');
    font-weight: 400;
    font-style: normal;
}

.monster_name {
    color: #822000;
    font-family: 'MrEaves', serif;
    font-size: 3.2rem;
}