@import 'variables';

.nav {
    background-color: $medgrey;
    .list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        .item {
            display: inline;
            font-size: 1.8rem;
            a {
                display: inline-block;
                margin: 1rem;
                color: $lightgrey;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}