.nav {
    background-color: #474747;
    .list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        .item {
            display: inline;
            font-size: 1.8rem;
            a {
                display: inline-block;
                margin: 1rem;
                color: #A8A7A7;
                &:hover {
                    color: #e8175d;
                }
            }
        }
    }
}