@import 'variables';

.hotbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;

    > * {
        margin: 0 0.5rem;
    }
}

.toggles {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    label {
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.3rem;
        font-size: 1.6rem;        
    }
}

.party {
    display: flex;
    flex-flow: column;
    width: 100%;
}