@import 'variables';

.hotbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;

    > * {
        margin: 0 0.5rem;
    }
}

.party {
    display: flex;
    flex-flow: column;
    width: 100%;
}