@import 'variables';

.sessions_page {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    width: 100vw;
}

.session_editor {
    width: 50%;
    height: 80vh;
    padding: 2rem;
    font-size: 1.8rem;
    outline: none;
    color: $gold;
}